{% extends "base.html" %}

{% block content %}

            <div id="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Latest blog posts</h2>
                                <img src="static/images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
    {% if posts %}
        {% for post in posts %}
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{ post.image.orig_pic }}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">{{ post.title }}</a></h4>
                                        <span>{{ post.created }}</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        {% endfor %}
    {% endif %}
                    </div>
                </div>
            </div>

{% endblock content %}
